html{
    font-size: 16px;
}
body{
    font-size: 16px;
    background-color: rgb(31, 76, 224);
}
h1 {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 4.052em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-family:'Oswald', Verdana, Arial, sans-serif;
    font-weight: 700;
    font-size: 2.441em;
    margin: 0;
    text-align: right;
}

.intro p {
  font-family: 'Roboto Serif', serif;
  font-weight: 400;
  line-height: 1.5em;
  }

.photo p {
 background-color: white;
}

#studio {
align-items: center;

}